#root {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

.currImage {
  width: 100px;
  height: auto;
  margin: 30px 0px;
}

.discoverButton {
  width: auto;
}

.leftContainer {
  margin-right: auto;
  height: 100vh;
  text-align: center;
  width: 300px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  margin-left: auto;
  height: 100vh;
  text-align: center;
  width: 300px;
}